<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="medicalManagement" connectionString="Data Source=DESKTOP-QHS5VIT\SQLEXPRESS;Initial Catalog=medicalManagement;Integrated Security=True"
		 providerName="System.Data.ProviderName" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>